.weather-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(8, 147, 247, 0.3);
    border: solid 5px #325288;
    border-radius: 20px;
}

.icon {
    margin: 8px;
    width: 110px;
    height: 110px;
}

.title-location {
    margin: 0;
}

/* MORE INFO  */
.margin-info {
    margin-top: 20px;
}

.info {
    padding: 5px;
    background-color: rgba(8, 147, 247, 0.3);
    border: solid 5px #325288;
    border-radius: 10px;
}

.info-box {
    
}

.border-info-box {
    border-right: solid 3px #325288;
    border-left: solid 3px #325288;
}

.info-title {
    margin: 5px 0;
}